.root-container {
    background: #FAFAFA;
}

ion-content {
    --color:white;
}

active-did {
    display:block;
    margin-top: 20px;
    margin-bottom:30px;
}

.delete-button {
    margin-top:80px;
}