
<ion-content>
  <div class="ion-text-center" [class.darkContainer]="theme.darkMode" *ngIf="!password">
    <ion-img src="assets/onboard/password.png"></ion-img>
    <h1>Create Password</h1>
    <p>
      Manage your decentralied identities and share with friends and business the data you choose.
      Own your identity and data using elastOS. <br><br>

      Create a password for your identity
    </p>
    <ion-row class="btn-row">
      <ion-button color="success" (click)="createIdentity()">
        <ion-label>Create Password</ion-label>
      </ion-button>
    </ion-row>
  </div>
  <div class="ion-text-center" [class.darkContainer]="theme.darkMode" *ngIf="password">
    <ion-img src="assets/onboard/passwordset.svg"></ion-img>
    <h1>Password Set!</h1>
    <p>
      Now let's get straight into creating your identity. You don't need to publish it
      straight away or share all the details if you don't want to. You can choose what to share
      and what to hide.
    </p>
    <ion-row class="btn-row">
      <ion-button color="success" (click)="createProfile()">
        <ion-label>Continue</ion-label>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
