div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 25px;

  ion-img {
    width: 200px;
    height: 225px;
    padding-bottom: 32px;
  }

  h1, p, .btn-row {
    margin: 0;
    padding: 16px 8px;
  }

  h1 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.3px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }

  .p2 {
    padding-bottom: 64px;
  }

  .btn-row {
    width: 100%;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;
      --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

