.container {
  background: #fdfeff;
  min-height: 100%;
  padding: 50px 0;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ion-img {
      width: 84px;
      height: 84px;
    }

    h1, p {
      color: #161740 !important;
    }

    h1 {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 0px 60px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }

    .btn-row {
      padding: 15px 30px 25px;

      ion-img {
        margin: 0 7.5px;
        height: 46px;
        width: 46px;
      }
    }
  }

  ion-segment {
    padding: 0px 30px;

    ion-segment-button {
      margin: 0 10px;
      --border-color: #161740 !important;
      --border-radius: 0;
      --border-style: none;

      ion-label {
        font-size: 14px;
        font-weight: 700;
        margin: 5px;
        letter-spacing: 0.45px;
        text-transform: none;
        color: #b2b7fa;
      }
    }

    .active {
      border-bottom: 2.7px solid #161740 !important;
      border-radius: 4px;
      background: transparent;

      ion-label {
        color: #161740;
      }
    }
  }

  ion-list {
    padding-top: 9px;
    margin: 0;

    .visibility-col {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 9px;
        font-weight: 700;
        text-align: center;
        color: #161740;
      }
    }

    .checkbox-col {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      ion-checkbox {
        --border-color: #565bdb;
        --border-width: 2px;
      }
    }

    .profile-data {
      display: flex;
      padding: 6px 0px 6px 30px;

      ion-col {
        display: flex;
        align-items: center;

        h5, h4, p {
          margin: 0;
        }

        h5 {
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          color: #161740;
        }
      }

      .cred {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h4 {
          font-size: 12px;
          font-weight: 500;
          font-stretch: 500;
          text-align: right;
          color: #161740;
        }
      }
    }

    .profile-credential {
      ion-card {
        margin: 0;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        ion-row {
          ion-col {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            ion-avatar {
              background: #565bdb;
              width: 38px;
              height: 38px;
            }

            ion-label {
              font-size: 17px;
              font-weight: 700;
              color: #161740;
            }
          }
        }

        .property {
          padding-top: 15px;

          .value {
            font-size: 12px;
            font-weight: 500;
            color: #161740;
          }
        }
      }

      .checkbox-col {
        padding-top: 20px;
      }
    }

    .btn-container {
      padding: 15px 30px;

      ion-button {
        height: 41px;
        width: 100%;
        --border-radius: 8px;

        ion-label {
          text-transform: none;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.43px;
        }
      }
    }
  }
}

.darkContainer {
  background: #191a2f;

  .header {
    h1, p {
      color: #ffffff !important;
    }
  }

  ion-segment {
    .active {
      border-bottom: 2.7px solid #ffffff !important;

      ion-label {
        color: #ffffff;
      }
    }
  }

  ion-list {
    background: #191a2f;

    .profile-data {
      ion-col {
        h5, p {
          color: #ffffff;
        }
      }

      .cred {
        h4 {
          color: #ffffff;
        }
      }
    }
  }

  ion-list {
    background: #191a2f;

    .visibility-col {
      p {
        color: #ffffff;
      }
    }

    .profile-data {
      ion-col {
        h5 {
          color: #ffffff;
        }
      }

      .cred {
        h4 {
          color: #ffffff;
        }
      }
    }

    .profile-credential {
      ion-card {
        background: #464660;

        ion-row {
          ion-col {
            ion-avatar {
              background: #ffffff;
            }

            ion-label {
              color: #ffffff;
            }
          }
        }

        .property {
          .value {
            color: #ffffff;
          }
        }
      }
    }
  }
}
