<div class="root-container">
  <header-bar title="my-profile" [transparent]="false"></header-bar>

  <ion-content no-bounce>
    <ion-grid class="ion-no-padding">
      <div class="profile-container">
        <div class="profile-picture">
          <div class="no-picture">
            {{'no-picture-placeholder'|translate}}
          </div>
          <img src="assets/images/Guy_Face.svg">
        </div>
        <div class="profile-items">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="name">{{profile.name}}</div>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col>
                <div class="actions">
                  <rounded-action-button title="qr-code" (click)="showQRCode()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="edit-visibility" (click)="editVisibility()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="backup" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <!--<rounded-action-button title="password" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>-->
                  <rounded-action-button title="delete-did" (click)="deleteDID()" color="#FF4D4D" imgcolor="#FFFFFF"></rounded-action-button>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="visibleData.length > 0">
              <ion-col>
                <div class="section">
                  <div class="section-title">{{'my-visible-data'|translate}}</div>
                  <ion-list>
                    <ion-item *ngFor="let entry of visibleData" class="ion-no-margin">
                      <ion-label class="cred-name" >{{entry.label}}</ion-label>
                      <ion-label class="cred-value ion-text-right">{{entry.value}}</ion-label>
                      <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="invisibleData.length > 0">
              <ion-col>
                <div class="section">
                  <div class="section-title">{{'my-hidden-data'|translate}}</div>
                  <ion-list>
                    <ion-item *ngFor="let entry of invisibleData" class="ion-no-margin">
                      <ion-label class="cred-name" >{{entry.label}}</ion-label>
                      <ion-label class="cred-value ion-text-right">{{entry.value}}</ion-label>
                      <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>

            <ion-row [ngStyle]="{'visibility':(editingVisibility?'visible':'hidden')}">
              <ion-col class="ion-text-center">
                  <did-button class="publish-button" (click)="publishVisibilityChanges()" 
                    [title]="'publish-changes' | translate" 
                    [textcolor]="'#FFFFFF'"
                    [bgcolor]="'var(--ion-color-primary)'" 
                    [bordercolor]="'var(--ion-color-primary)'"
                    [shadow]="true"></did-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-grid>     
  </ion-content>
</div>

