page-myprofile {

}

.profilepicture {
    width:10vh;
    height:10vh;
    margin:0 auto;
}

.name {
    font-size:1.2em;
    font-weight:bold;
}

.did {
    color:#CCC;
    font-size:0.8em;
}

.qrcode {
    height:7vh;
}

.item-label {
    color:#CCC;
}

.item-value {

}

.bottom-drawer-translucent-background {
    background: rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.bottom-close-arrow {
    height:15px;
}

.bottom-qr-code {
    height:170px;
}

.bottom-did-string {
    background: #EEE;
    color:#444;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    width:80vw;
    margin: 0 auto;
}
