.container {
  background: #fdfeff;
  min-height: 100%;
  padding: 50px 0;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    ion-img {
      width: 84px;
      height: 84px;
    }

    h1, p {
      color: #161740 !important;
    }

    h1 {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
    }

    p {
      margin: 0;
      padding: 0px 60px;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      overflow: hidden;
    }

    .btn-row {
      padding: 15px 30px 25px;

      ion-img {
        margin: 0 7.5px;
        height: 46px;
        width: 46px;
      }
    }
  }

  ion-segment {
    padding: 0px 30px;

    ion-segment-button {
      margin: 0 10px;
      --border-color: #161740 !important;
      --border-radius: 0;
      --border-style: none;

      ion-label {
        font-size: 14px;
        font-weight: 700;
        margin: 5px;
        letter-spacing: 0.45px;
        text-transform: none;
        color: #b2b7fa;
      }
    }

    .active {
      border-bottom: 2.7px solid #161740 !important;
      border-radius: 4px;
      background: transparent;

      ion-label {
        color: #161740;
      }
    }
  }

  ion-list {
    padding-top: 9px;
    margin: 0;

    .profile-data {
      display: flex;
     // justify-content: space-between;
      padding: 6px 0px 6px 30px;

      ion-col {
        display: flex;
        align-items: center;

        h5, h4, p {
          margin: 0;
        }

        h5 {
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          color: #161740;
        }

        p {
          font-size: 9px;
          font-weight: 700;
          text-align: center;
          color: #161740;
        }

        ion-checkbox {
          --border-color: #565bdb;
        }
      }

      .cred {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h4 {
          font-size: 12px;
          font-weight: 500;
          font-stretch: 500;
          text-align: right;
          color: #161740;
        }
      }

      .showVisibility {
        position: relative;
        right: 0;
        z-index: 2;
        animation: show;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;

        @keyframes show {
          0% { right: -100px }
          100% { right: 0px }
        }
      }
    }

    .btn-container {
      padding: 15px 30px;

      ion-button {
        height: 41px;
        width: 100%;
        --border-radius: 8px;

        ion-label {
          text-transform: none;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.43px;
        }
      }
    }

    .app {
      --padding-start: 0px;
      --inner-padding-end: 0px;

      .img-col {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-avatar {
          width: 52px;
          height: 52px;
          overflow: hidden;
        }
      }

      .appInfo-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0;


        h4 {
          font-size: 13px;
          font-weight: 600;
          color: #161740;
          margin: 0;
          line-height: 1.29;
        }

        p {
          font-size: 8px;
          font-weight: 600;
          color: #161740;
          margin: 0;
          line-height: 1.22;
        }
      }

      .btn-col {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
          --border-radius: 30px;
          --box-shadow: none;
          width: 100%;

          ion-label {
            font-size: 9px;
            font-weight: 700;
            padding: 0;
          }
        }
      }
    }

    .no-apps {
      font-weight: 600;
      font-size: 14px;
      color: #161740;
    }
  }
}

.darkContainer {
  background: #191a2f;

  .header {
    h1, p {
      color: #ffffff !important;
    }
  }

  ion-segment {
    .active {
      border-bottom: 2.7px solid #ffffff !important;

      ion-label {
        color: #ffffff;
      }
    }
  }

  ion-list {
    background: #191a2f;

    .profile-data {
      ion-col {
        h5, p {
          color: #ffffff;
        }
      }

      .cred {
        h4 {
          color: #ffffff;
        }
      }
    }

    .app {
      .appInfo-col {
        h4 {
          color: #ffffff;
        }

        p {
          color: #ffffff;
        }
      }
    }

    .no-apps {
      color: #ffffff;
    }
  }
}
