<div class="root-container">
  <header-bar title="My profile" [transparent]="false"></header-bar>

  <ion-content no-bounce>
      <ion-grid class="ion-padding">
      <div class="profile-container">
        <div class="profile-picture">
          <div class="no-picture">
            Profile<br/>
            Picture
          </div>
          <img src="assets/images/defaultuser.png">
        </div>
        <div class="profile-items">
          <ion-list>
            <ion-item class="ion-text-center" (click)="showQRCode()">
              <ion-grid class="ion-margin">
                <ion-row>
                  <ion-col>
                    <div class="name">{{profile.name}}</div>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="didString!=''">
                  <ion-col>
                    <ion-img [src]="'/assets/images/QR_CODE_ICON.svg'" class="qrcode"></ion-img>
                    <p class="qrcode-info">Touch for QR code</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-grid>
              <ion-item>
                <ion-label class="cred-name" >Email</ion-label>
                <ion-label class="cred-value ion-text-right">{{profile.email || 'Not set'}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="cred-name" >Phone number</ion-label>
                <ion-label class="cred-value ion-text-right">{{profile.telephone || 'Not set'}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label class="cred-name" >Country</ion-label>
                <ion-label class="cred-value ion-text-right">{{getDisplayableNation(profile.nation) || 'Not set'}}</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="cred-name" >Birth date</ion-label>
                <ion-label class="cred-value ion-text-right">{{getDisplayableBirthDate(profile.birthDate) || 'Not set'}}</ion-label>
              </ion-item>
            </ion-grid>
          </ion-list>
        </div>
      </div>
    </ion-grid> 
    
    <div class="bottom-drawer-translucent-background" *ngIf="bottomDrawerState == 1" (click)="hideBottomDrawer()"></div>
  </ion-content>

  <ion-footer *ngIf="createDid" class="ion-text-center ion-padding">
    <ion-button expand="full" size="large" (click)="next()">Next</ion-button>
  </ion-footer>
</div>

<ion-bottom-drawer *ngIf="didString!=''" [(state)]="bottomDrawerState" [dockedHeight]="330" [disableDrag]="true">
  <div class="drawer-content ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col (click)="hideBottomDrawer()">
          <ion-img [src]="'/assets/images/bottomarrow.png'" class="bottom-close-arrow"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="ion-text-center">
          <qrcode [qrdata]="didString" [size]="150"></qrcode>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="bottom-did-string">{{didString}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center">
            <ion-button size="small" (click)="copyDIDToClipboard()">Copy to clipboard</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-bottom-drawer>

