<div class="root-container">
  <header-bar title="my-profile" [transparent]="false"></header-bar>

  <ion-content no-bounce>
    <ion-grid class="ion-no-padding">
      <div class="profile-container">
        <div class="profile-picture">
          <div class="no-picture">
            {{'no-picture-placeholder'|translate}}
          </div>
          <img [src]="profile.getDefaultProfilePicturePath()">
        </div>
        <div class="profile-items">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="name" *ngIf="profile">{{profile.getName()}}</div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="actions">
                  <rounded-action-button title="publish" *ngIf="didNeedsToBePublished" image="assets/images/Publish_Simple_Icon.svg" (click)="publishDIDDocument()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="share" image="assets/images/Share_Icon.svg" (click)="shareIdentity()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="qr-code" image="assets/images/QR_Simple_Icon.svg" (click)="showQRCode()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="edit-profile" image='assets/images/Edit_Simple_Icon.svg' (click)="editProfile()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="edit-visibility" image="assets/images/Visibility_Tick_Simple_Icon.svg" (click)="editVisibility()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <!--<rounded-action-button title="backup" image='assets/images/Backup_Simple_Icon.svg' color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>-->
                  <rounded-action-button title="password" image="assets/images/Password_Simple_Icon.svg" (click)="changePassword()" color="var(--action-color)" imgcolor="#FFFFFF"></rounded-action-button>
                  <rounded-action-button title="delete-did" image="assets/images/Delete_Warning_Simple_Icon.svg" (click)="deleteDID()" color="#FF4D4D" imgcolor="#FFFFFF"></rounded-action-button>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="visibleData.length > 0">
              <ion-col class="ion-no-padding">
                <div class="section">
                  <div class="section-title">{{'my-visible-data'|translate}}</div>
                  <ion-list>
                    <ion-item *ngFor="let entry of visibleData" class="ion-no-margin">
                      <ion-label class="cred-name" >{{entry.label}}</ion-label>
                      <ion-label class="cred-value ion-text-right">{{entry.value}}</ion-label>
                      <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="invisibleData.length > 0">
              <ion-col class="ion-no-padding">
                <div class="section">
                  <div class="section-title">{{'my-hidden-data'|translate}}</div>
                  <ion-list>
                    <ion-item *ngFor="let entry of invisibleData" class="ion-no-margin">
                      <ion-label class="cred-name" >{{entry.label}}</ion-label>
                      <ion-label class="cred-value ion-text-right">{{entry.value}}</ion-label>
                      <ion-checkbox [(ngModel)]="entry.willingToBePubliclyVisible" [disabled]="!editingVisibility" mode="ios" [ngClass]="{'checkBox-visibility-edit': editingVisibility}"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-col>
            </ion-row>

            <ion-row [ngStyle]="{'visibility':(editingVisibility?'visible':'hidden')}">
              <ion-col class="ion-text-center">
                  <did-button class="publish-button" (click)="publishVisibilityChanges()"
                    [title]="'publish-changes' | translate"
                    [textcolor]="'#FFFFFF'"
                    [bgcolor]="'var(--ion-color-primary)'"
                    [bordercolor]="'var(--ion-color-primary)'"
                    [shadow]="true"></did-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-grid>
  </ion-content>
</div>

