.root-container {
    background: #FAFAFA;
}

.title {
    color:var(--ion-color-primary);
    font-size:20px;
    font-weight:800;
    text-align:center;
    margin:40px;
}

.did-item {
    margin:20px;
    color:#6E7379;
    font-weight: 600;
}