ion-content {
    --background: #6561FB;
    --color:white;
}

.main-circle {
    width:50vw;
    height:50vw;
    background: #9693FF;
    margin: 20px auto;
    border-radius: 50%;
}

.mainicon {
    width:20vh;
    margin: 0 auto;
}

.welcome {
    font-size: 35px;
    font-weight: 700;
}

.main-text {
    font-size: 14px;
    font-weight: 500;
    padding-bottom:20px;
    display:inline-block;
    width:70vw !important;
}

.secondary-button {
    display:inline-block;
    width:70vw !important;
}