@import "src/app/functions.scss";

.root-container {
    background: rgb(101,97,251);
    background: linear-gradient(180deg, rgba(101,97,251,1) 0%, rgba(150,147,255,1) 100%);
}

ion-content {
    --color:white;
}

.main-icon {
    width:50vw;
    height:50vw;
    margin: px2rem(20px) auto;
}

.mainicon {
    width:20vh;
    margin: 0 auto;
}

.welcome {
    font-size: 35px;
    font-weight: 700;
    margin: px2rem(120px) auto;
}

.main-text {
    font-size: 14px;
    font-weight: 500;
    padding-bottom:px2rem(80px);
    display:inline-block;
    width:70vw !important;
}

.secondary-button {
    display:inline-block;
    width:70vw !important;
}