.container {
    margin: 10px 30px;

    .input-container {
        background: #F1F3F7;
        border-radius: 20px;
        padding:2px;
        padding-left:10px;
        margin-bottom:10px;
    }

    ion-input {
        font-size:12px;
        display:block;
    }

    .password-intro {
        font-weight: 700;
        text-align: center;
        margin: 5px 40px;
        color: var(--ion-color-primary) !important;
        margin-bottom:20px;
    }

    .main-button {
        width:100%;
        display:block;
        margin-top:20px;
    }
}