<div class="root-container">
  <header-bar title="" [showBack]="false" [showClose]="true" (onClose)="rejectRequest()"></header-bar>

  <ion-content>
    <div *ngIf="requestDapp">
      <div class="access-from-warning">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="ion-align-self-center">
                <ion-img [src]="'assets/images/Data_Access_From_Icon.svg'" class="mainicon"></ion-img>
            </ion-col>
            <ion-col size="9" class="ion-align-self-center">
              <div class="heading-1">Sign</div>
              <div class="appname" *ngIf="requestDapp">{{requestDapp.appPackageId}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="intro">
        <p>This application wants to sign some information using your identity. The created signature can later
          be used to verify that you are really the one who signed the original data.
        </p>
      </div>
    </div>

    <did-button class="main-button" (click)="acceptRequest()"
        [title]="'accept' | translate"
        [bgcolor]="'var(--ion-color-primary)'"
        [bordercolor]="'var(--ion-color-primary)'"
        [shadow]="true"></did-button>

  </ion-content>
</div>

