@import "src/app/functions.scss";

.container {
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mnemonic-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    ion-col {
      height: 35px;
      background: #565bdb;
      border-radius: 7.5px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      .mnemonic-index {
        position: absolute;
        z-index: 100;
        top: -11px;
        left: -11px;
        width: 22px;
        height: 22px;
        background: #565bdb;
        border-radius: 100%;
        border: 2px solid #fdfeff;
        color: #fdfeff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
      }

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #fdfeff;
      }
    }
  }

  h1, p, .btn-row {
    margin: 0;
    padding: 16px 8px;
  }

  h1 {
    padding-top: 24px;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.3px;
    color: #161740;
  }

  p {
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #161740;
  }

  .btn-row {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;
      --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

.darkContainer {
  h1, p {
    color: #fdfeff;
  }
}

/* .root-container {
    background: rgb(101,97,251);
    background: linear-gradient(0deg, rgba(101,97,251,1) 0%, rgba(150,147,255,1) 100%);
}

ion-content {
    --color:white;
}

.title {
    font-weight:800;
    font-size:px2rem(100px);
    margin:6vw
}

.info {
    margin:5vw 10vw;
}

.mnemonics-box {
    background: white;
    margin: px2rem(20px);
    border-radius: px2rem(80px);

    .mnemonic {
        overflow:hidden;
        background:#F4F4F4;
        width:100%;
        display:block;

        font-weight:600;
        font-size:14px;
        border-radius: px2rem(40px);
        text-align:left;
        margin-left:px2rem(5px);
        margin-right:px2rem(5px);
        margin-top:px2rem(4px);
        margin-bottom:px2rem(4px);

        .index {
            float:left;
            padding-left:px2rem(10px);
            color: #BABABA;
            padding-top:px2rem(3px);
            padding-bottom:px2rem(3px);
        }

        .word {
            display:block;
            color:#6E7379;
            text-align: center;
            padding-top:px2rem(3px)_;
            padding-bottom:px2rem(3px)1 1;
        }
    }
}

.secondary-button {
    display: inline-block;
    width:70vw;

    .did-button {
        margin: 0 auto;
    }
} */
