<!-- <ion-content>
  <div class="ion-text-center container" [class.darkContainer]="theme.darkMode">
    <ion-row class="mnemonic-row">
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
      <ion-col size="3.6">
        <div class="mnemonic-index">1</div>
        <ion-label>brown</ion-label>
      </ion-col>
    </ion-row>
    <h1>Your Mnemonic</h1>
    <p>
      These are your 12 security words (mnemonic). Lose these and you will lose the identity,
      so you must keep them written down <b>in order</b>, and safe! <br><br>
    </p>
    <ion-row class="btn-row">
      <ion-button color="success">
        <ion-label>Continue</ion-label>
      </ion-button>
    </ion-row>
  </div>

</ion-content>
 -->

<ion-content>
  <div class="ion-text-center container" [class.darkContainer]="theme.darkMode">
    <ion-row class="mnemonic-row">
      <ion-col size="3.6" *ngFor="let mnemonic of mnemonicList">
        <div class="mnemonic-index">{{ mnemonicList.indexOf(mnemonic) + 1 }}</div>
        <ion-label>{{ mnemonic }}</ion-label>
      </ion-col>
    </ion-row>
    <h1>Your Mnemonic</h1>
    <p>
      These are your 12 security words (mnemonic). Lose these and you will lose the identity,
      so you must keep them written down <b>in order</b>, and safe! <br><br>
    </p>
    <ion-row class="btn-row" (click)="nextClicked()">
      <ion-button color="success">
        <ion-label>Continue</ion-label>
      </ion-button>
    </ion-row>
  </div>
</ion-content>


<!-- <div class="root-container">

  <ion-content class="ion-padding ion-text-center">
    <div class="title">Write down your mnemonic</div>

    <div class="mnemonics-box">
        <ion-grid class="ion-padding">
          <ion-row *ngFor="let i of [1,3,5,7,9,11]">
            <ion-col size="6">
              <div class="mnemonic">
                <span class="index">{{i}}</span>
                <div class="word">{{mnemonicList[i-1]}}</div>
              </div>
            </ion-col>
            <ion-col size="6">
                <div class="mnemonic">
                  <span class="index">{{i+1}}</span>
                  <div class="word">{{mnemonicList[i]}}</div>
                </div>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    <div class="info">Losing your mnemonic <br/>means losing your DID!</div>
    <div class="info"> Write the words down in<br/>order to keep them safe.</div>
    <did-button class="secondary-button" (click)="nextClicked()"
                [title]="'next' | translate"
                [bgcolor]="'rgba(0,0,0,0)'"
                [bordercolor]="'#FFFFFF'"
                [shadow]="false"></did-button>
  </ion-content>
</div>
 -->
