@import "src/app/functions.scss";

.root-container {
    background: rgb(101,97,251);
    background: linear-gradient(0deg, rgba(101,97,251,1) 0%, rgba(150,147,255,1) 100%);
}

ion-content {
    --color:white;
}

.title {
    font-weight:800;
    font-size:px2rem(100px);
    margin:6vw
}

.info {
    margin:5vw 10vw;
}

.mnemonics-box {
    background: white;
    margin: px2rem(20px);
    border-radius: px2rem(80px);

    .mnemonic {
        overflow:hidden;
        background:#F4F4F4;
        width:100%;
        display:block;

        font-weight:600;
        font-size:14px;
        border-radius: px2rem(40px);
        text-align:left;
        margin-left:px2rem(5px);
        margin-right:px2rem(5px);
        margin-top:px2rem(4px);
        margin-bottom:px2rem(4px);

        .index {
            float:left;
            padding-left:px2rem(10px);
            color: #BABABA;
            padding-top:px2rem(3px);
            padding-bottom:px2rem(3px);
        }

        .word {
            display:block;
            color:#6E7379;
            text-align: center;
            padding-top:px2rem(3px)_;
            padding-bottom:px2rem(3px)1 1;
        }
    }
}

.secondary-button {
    display: inline-block;
    width:70vw;

    .did-button {
        margin: 0 auto;
    }
}