<div class="root-container">

  <ion-content class="ion-text-center">
    <div class="mnemonics-box">
      <ion-grid class= "ion-margin">
        <ion-row *ngFor="let i of [1,3,5,7,9,11]">
          <ion-col size="6">
            <verify-mnemonic-word [index]="i" [word]="selectedList[i-1]"></verify-mnemonic-word>
          </ion-col>
          <ion-col size="6">
            <verify-mnemonic-word [index]="i+1" [word]="selectedList[i]"></verify-mnemonic-word>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="title">{{'verify-title'|translate}}</div>
    <div class="subtitle">{{'verify-subtitle'|translate}}</div>

    <div class="enter-mnemonic-box ion-margin">
      <span *ngFor="let _word of mnemonicList; let i = index">
        <ion-row *ngIf="i%3==0">
          <ion-col size="4">
            <span *ngIf="!mnemonicList[i].selected" class="unselected-word" (click)="addButton(i, mnemonicList[i])">{{mnemonicList[i].text}}</span>
          </ion-col>
          <ion-col size="4">
            <span *ngIf="!mnemonicList[i+1].selected" class="unselected-word" (click)="addButton(i+1, mnemonicList[i+1])">{{mnemonicList[i+1].text}}</span>
          </ion-col>
          <ion-col size="4">
            <span *ngIf="!mnemonicList[i+2].selected" class="unselected-word" (click)="addButton(i+2, mnemonicList[i+2])">{{mnemonicList[i+2].text}}</span>
          </ion-col>
        </ion-row>
      </span>
    </div>

    <did-button class="main-button" (click)="nextClicked()"
      [title]="'create-my-did' | translate"
      [bgcolor]="'rgba(0,0,0,0)'"
      [bordercolor]="'#FFFFFF'"
      [shadow]="false" *ngIf="allWordsMatch()"></did-button>
  </ion-content>
</div>
