.root-container {
    background: #FAFAFA;
}

.title {
    color:var(--ion-color-primary);
    font-weight:700;
    font-size:18px;
}

.mnemonics-box {
    background: white;
    margin: 20px;
    border-radius: 20px;
}

.enter-mnemonic-box {
    .title {
        font-weight: 600;
        font-size:12px;
        margin-bottom:10px;
        color:black;
    }
}
 
.main-button {
    display: inline-block;
    width:70vw;

    .did-button {
        margin: 0 auto;
    }
}

.unselected-word {
    color:var(--ion-color-primary);
    margin-right:6px;
    margin-bottom:6px;
    font-weight:700;
    font-size:16px;
}