@import "src/app/functions.scss";

@import "src/app/functions.scss";

.container {
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mnemonic-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;

    ion-col {
      height: 35px;
      background: #f0f1ff;
      border-radius: 7.5px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      .mnemonic-index {
        position: absolute;
        z-index: 100;
        top: -11px;
        left: -11px;
        width: 22px;
        height: 22px;
        background: #f0f1ff;
        border-radius: 100%;
        border: 2px solid #ffffff;
        color: #161740;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
      }

      ion-label {
        color: transparent;
      }
    }

    .selectedCol {
      background: #565bdb;

      .mnemonic-index {
        background: #565bdb;
        color: #ffffff;
      }

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #fdfeff;
      }
    }
  }

  p {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #161740;
  }

  .mnemonic-row2 {
    padding-left: 12.5px;
    padding-right: 12.5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;

    ion-col {
      height: 35px;
      background: #565bdb;
      border-radius: 7.5px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #fdfeff;
      }
    }

    .selectedCol {
      visibility: hidden;
    }
  }

  .btn-row {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;
      --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

.darkContainer {
  .mnemonic-row {
    ion-col {
      background: #464660;

      .mnemonic-index {
        background: #464660;
        border: 2px solid #191a2f;
        color: #fdfeff;
      }

      ion-label {
        color: transparent;
      }
    }

    .selectedCol {
      background: #565bdb;

      .mnemonic-index {
        background: #565bdb;
        color: #ffffff;
      }

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #fdfeff;
      }
    }
  }

  p {
    color: #fdfeff;
  }
}

/* .root-container {
    background: rgb(101,97,251);
    background: linear-gradient(0deg, rgba(101,97,251,1) 0%, rgba(150,147,255,1) 100%);
}

ion-content {
    --color:white;
}

.title {
    font-weight:700;
    font-size:px2rem(80px);
    margin-left:30px;
    margin-right:30px;
    margin-top:px2rem(20px);
}
.subtitle {
    font-weight:500;
    font-size:12px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:px2rem(30px);
}

.mnemonics-box {
    background: white;
    margin: px2rem(40px);
    border-radius: px2rem(80px);
}

.enter-mnemonic-box {
    .title {
        font-weight: 600;
        font-size:12px;
        margin-bottom:px2rem(10px);
        color:black;
    }
}

.main-button {
    display: inline-block;
    width:70vw;

    .did-button {
        margin: 0 auto;
    }
}

.unselected-word {
    display:block;
    background:#6561FB;
    padding:px2rem(10px);
    border-radius: px2rem(40px);
    color:white;
    margin-right:px2rem(6px);
    margin-bottom:px2rem(2px);
    font-weight:500;
    font-size:px2rem(60px);
} */
