ion-grid {
  padding: 5px 20px 25px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  ion-row {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    ion-label {
      margin-top: 3px;
      font-size: 14px;
      font-weight: 500;
      color: #161740;
    }

    ion-img {
      width: 20px;
      height: 20px;
    }

    .edit-img {
      width: 16px;
      height: 16px;
      position: relative;
      top: 4px;
    }

    .publish {
      color: #ffc600;
    }

    .delete {
      color: #f55555;
    }

    .visibility {
      color: #8d91ff;
    }
  }
}

.darkContainer {
  ion-row {
    ion-label {
      color: #ffffff;
    }

    .publish {
      color: #ffc600;
    }

    .delete {
      color: #f55555;
    }

    .visibility {
      color: #8d91ff;
    }
  }
}
