<ion-header>
  <header-bar title="Credential"></header-bar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
    <div *ngIf="!hasCredential">
      <ion-img [src]="'assets/images/noidentity.png'" class="mainicon"></ion-img>
      <p>
          Seems like there is no credential yet.
      </p>
    </div>

    <ion-list *ngIf="hasCredential">
      <ion-item class="detail-item" *ngFor="let item of credentials" (click)="backupCredential(item.object)">
        <ion-avatar>
          <ion-img src=""></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{item.fragment}}</h2>
          <p>{{item.didurl}}</p>
          <p>ID: {{item.fragment}}</p>
          <p>Issuance Date: {{item.issuanceDate}}</p>
          <p>Expiration Date: {{item.expirationDate}}</p>
        </ion-label>
        <ion-checkbox *ngIf="isEdit" value="item" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-text-center ion-padding">
  <ion-list>
    <!--<ion-item *ngIf="!isEdit" >
      <ion-button class="confirm" (click)="createCredential()">{{ 'addCredential' | translate }}</ion-button>
    </ion-item>
    <ion-item *ngIf="!isEdit">
      <ion-button class="confirm" (click)="editCredential()">{{ 'EditCredential' | translate }}</ion-button>
    </ion-item>-->
    <ion-item *ngIf="isEdit">
      <ion-button class="confirm" (click)="deleteCredential()">{{ 'delete Credential' | translate }}</ion-button>
    </ion-item>
  </ion-list>
</ion-footer>
