<div class="root-container">
  <header-bar title="did-credentials" [transparent]="false"></header-bar>

  <ion-content no-bounce>
    <ion-grid class="ion-padding">
      <div class="profile-container">
        <div class="profile-picture">
          <img src="assets/images/defaultuser.png">
        </div>
        <div class="profile-items">
          <div class="profile-name">
            {{profile.name}}
          </div>
          <div *ngIf="!hasCredential" class="ion-text-center">
              {{'no-credential-yet'|translate}}
          </div>
          <div class="credentials" *ngIf="hasCredential">
            <ion-list>
              <ion-virtual-scroll [items]="credentials" approxItemHeight="300px">
                <ion-item *virtualItem="let credential" class="credential">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <div class="type-icon"></div>
                      </ion-col>
                      <ion-col size="9">
                        <div class="title" >{{credential.getFragment()}}</div>

                        <div class="label">{{'issuer'|translate}}</div>
                        <div class="issuer" >{{getDisplayableIssuer(credential)}}</div>

                        <div class="label">{{'information-it-contains'|translate}}</div>
                        <div class="property" *ngFor="let prop of displayableProperties(credential)">
                          <div class="name">{{prop.name}}</div>
                          <div class="value">{{prop.value}}</div>          
                        </div>
                      </ion-col>
                      <ion-col size="1">...</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-virtual-scroll>
            </ion-list>
          </div>
        </div>
      </div>
    </ion-grid> 
  </ion-content>
</div>
      