.root-container {
    background: url('../../../../assets/images/Profile_Credential_Screen.svg') no-repeat center top / cover;
}

ion-content { 
    ion-list {
        --ion-background: none;
        --ion-background-color: none;
    }

    .profile-container {
        position: relative; 
    
        .profile-picture {
            position: absolute;
            background: white;
            top:0;
            left:0;
            right:0;
            z-index: 10;
            height:35vw;
            width:35vw;
            margin: 0 auto;
            margin-top: -17vw;
            border-radius: 50%;
            box-shadow: 3px 3px 8px rgba(100,100,100,0.1);
            align-content: center;
            overflow:hidden;
        }
    
        .profile-items {
            margin-top:17vw;
            background:white;
            border-radius:20px;
            margin-bottom:20px;
            padding-top:15vw;
            padding-bottom:20px;

            .type-icon {
                width:40px;
                height:40px;
                background:#E9ECEF;
                box-shadow: 3px 3px 8px rgba(100,100,100,0.1);
                border-radius: 50%;
            }

            .profile-name {
                font-weight:700;
                font-size:1.2em;
                text-align:center;
                margin-top:34px;
            }
    
            ion-list {
                --background: #none !important;
            }

            .credentials {
                margin-bottom:20px;
                background:#FAFAFA;

                .credential {
                    margin-top:20px;
                    background:white;
                    padding:10px;
                    color: #959DA7;

                    .title {
                        font-weight:600;
                        font-size:1.2em;
                        color:black;
                        margin-bottom:10px;
                    }

                    .label {
                        font-weight:600;
                        font-size:12px;
                        color:black;
                        margin-top:10px;
                    }

                    .property {
                        .name {
                            font-weight:600;
                            margin-top:5px;
                        }
                    }
                }
            }
        }
    }
}