<ion-header>
  <header-bar title="Credential"></header-bar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
    <div *ngIf="!hasCredential">
      <ion-img [src]="'assets/images/noidentity.png'" class="mainicon"></ion-img>
      <p>
          Oh... You just don’t exist, that’s sad...
      </p>
      <p>
          Let’s create your Credential?
      </p>
    </div>

    <ion-list *ngIf="hasCredential">
        <ion-item class="detail-item" *ngFor="let item of credentials">
          <ion-thumbnail slot="start">
              <img [src]="" alt="">
          </ion-thumbnail>
          <ion-label>
              <h2>{{item.didurl}}</h2>
              <p>{{item.info.fragment}}</p>
              <p>{{item.info.issuance}}</p>
              <p>{{item.info.expiration}}</p>
              <p>{{item.info.url}}</p>
              <p>{{item.info.remark}}</p>
          </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-button class="confirm" (click)="createCredential()">{{ 'addCredential' | translate }}</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="confirm" (click)="backupCredential()">{{ 'backup Credential' | translate }}</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
