<div class="root-container">
  <header-bar title="" [showBack]="false" [showClose]="true" [showMinimize]="false" (onClose)="rejectRequest()"></header-bar>

  <ion-content>
      <div class="access-from-warning">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="ion-align-self-center">
                <ion-img [src]="'assets/images/Data_Access_From_Icon.svg'" class="mainicon"></ion-img>
            </ion-col>
            <ion-col size="9" class="ion-align-self-center">
              <div class="heading-1">{{'data-access-from'|translate}}</div>
              <div class="appname" *ngIf="requestDapp">{{requestDapp.appPackageId}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="intro" [innerHtml]="'credaccess-intro' | translate"></div>
      <div *ngIf="mandatoryItems.length > 0">
        <div class="heading-2">{{'mandatory-data-access'|translate}}</div>
        <div class="mandatory-items items-list">
          <ion-list>
            <ion-item *ngFor="let item of mandatoryItems">
              <div class="item-info">
                <ion-grid >
                  <ion-row>
                    <ion-col size="5" class="label ion-align-self-center">
                      {{didService.getUserFriendlyBasicProfileKeyName(item.name)}}
                    </ion-col>
                    <ion-col size="5" class="value ion-align-self-center">
                      <span *ngIf="item.canBeDelivered">{{item.value}}</span>
                      <span *ngIf="!item.canBeDelivered" class="inexisting-item">{{'missing'|translate}}</span>
                    </ion-col>
                    <ion-col size="2" class="checkbox-container ion-align-self-center">
                      <ion-checkbox value="node" mode="ios" checked="true" disabled="true" *ngIf="item.canBeDelivered"></ion-checkbox>
                      <div class="inexisting-item-cross" *ngIf="!item.canBeDelivered">
                          <ion-icon name="close"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="item.reason">
                    <ion-col size="12">
                      <div class="subnote">
                        {{item.reason}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div *ngIf="optionalItems.length > 0">
        <div class="heading-2">{{'optional-data-access'|translate}}</div>
        <div class="optional-items items-list">
          <ion-list>
            <ion-item *ngFor="let item of optionalItems">
              <div class="item-info">
                <ion-grid >
                  <ion-row>
                    <ion-col size="5" class="label ion-align-self-center">
                      {{didService.getUserFriendlyBasicProfileKeyName(item.name)}}
                    </ion-col>
                    <ion-col size="5" class="value ion-align-self-center">
                      <span *ngIf="item.canBeDelivered">{{item.value}}</span>
                      <span *ngIf="!item.canBeDelivered" class="inexisting-item">{{'missing'|translate}}</span>
                    </ion-col>
                    <ion-col size="2" class="checkbox-container ion-align-self-center">
                      <ion-checkbox [(ngModel)]="item.selected" mode="ios" *ngIf="item.canBeDelivered"></ion-checkbox>
                      <div class="inexisting-item-cross" *ngIf="!item.canBeDelivered">
                          <ion-icon name="close"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="item.reason">
                    <ion-col size="12">
                      <div class="subnote">
                        {{item.reason}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <did-button class="main-button" (click)="acceptRequest()"
        [title]="'accept' | translate"
        [bgcolor]="'var(--ion-color-primary)'"
        [bordercolor]="'var(--ion-color-primary)'"
        [shadow]="true" *ngIf="canDeliver"></did-button>
      <div class="cannot-deliver" *ngIf="!canDeliver">
        {{'credaccess-information-missing'|translate}}
      </div>
  </ion-content>
</div>
