ion-content {
    --ion-background-color: rgba(255,255,255,0.9);
    ion-list {
      --ion-background: none;
      --ion-background-color: none;
    }
}

.access-from-warning {
    margin-top:20px;
    padding:5px 20px;

    .heading-1 {
        color:var(--ion-color-primary);
        font-size:20px;
        font-weight:500;
    }

    .mainicon {
        width:70px;
    }

    .appname {
        font-weight:500;
        color:#000000;
    }
}

.intro {
    font-size:18px;
    font-weight:500;
    line-height:1.5em;
    color:#000000;
    text-align:center;
    margin:30px;
}

.heading-2 {
    color:var(--ion-color-primary);
    margin: 20px 30px;
    font-weight:600;
}

.cannot-deliver {
    font-size:18px;
    font-weight:600;
    color:rgba(255, 77, 77, 0.5);
    text-align: center;
    margin:20px;
}

.items-list {
    .label {
        font-weight:600;
        color:#6E7379;
    }

    .value {
        font-size:12px;
        color:#959DA7;
        text-align: right;
    }

    .checkbox-container {
        display: flex;
        place-content: flex-end;

        ion-checkbox {
            --size:34px;
            margin:0;
        }
    }

    .inexisting-item {
        color:rgba(255, 77, 77, 0.5);
    }

    .inexisting-item-cross {
        --size:34px;
        width:var(--size);
        height:var(--size);
        border-radius: 50%;
        background:rgba(255, 77, 77, 0.5);
        color:rgba(255, 255, 255, 0.5);
        font-size:28px;
        text-align:center;
        display:flex;
        align-items:center;
        place-content: center;
    }
}

.mandatory-items {
    background:rgba(0,0,0,0.1);

    ion-checkbox {
        --background-checked:#9C9C9C;
        --border-color: #9C9C9C;
        --border-color-checked: #9C9C9C;
        --border-width:2px;
        --checkmark-color:#FFFFFF;
    }
}

.optional-items {
    ion-checkbox {
        --background-checked:var(--ion-color-primary);
        --border-color: var(--ion-color-primary);
        --border-color-checked: var(--ion-color-primary);
        --border-width:2px;
        --checkmark-color:#FFFFFF;
    }
}

.item-info {
    width:100%;
}

.subnote {
    font-size:11px;
    color:#9D9D9D;
}

.main-button {
    display:block;
    width:70vw;
    margin:30px auto;
}