<div class="root-container">
    <header-bar title="Import a DID" [transparent]="false" [showBack]="true"></header-bar>
  
    <ion-content text-center>    
      <div class="title">
        Start entering your 12 word mnemonic to restore your DID
      </div>
      <div class="mnemonics-box">
        <ion-grid padding>
          <ion-row *ngFor="let i of [1,3,5,7,9,11]">
            <ion-col size="6">
              <verify-mnemonic-word [index]="i" [word]="mnemonicWords[i-1]"></verify-mnemonic-word>
            </ion-col>
            <ion-col size="6">
              <verify-mnemonic-word [index]="i+1" [word]="mnemonicWords[i]"></verify-mnemonic-word>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <ion-input #addMnemonicWordInput placeholder="Your mnemonic sentence" [(ngModel)]="mnemonicSentence" (ionChange)="onMnemonicSentenceChanged()"></ion-input>
  
      <did-button class="main-button" (click)="promptPassword()" 
        [title]="'Import my DID' | translate" 
        textsize="18px"
        [bgcolor]="'var(--ion-color-primary)'" 
        [bordercolor]="'var(--ion-color-primary)'"
        [shadow]="true" *ngIf="allWordsFilled()"></did-button>
    </ion-content>
  </div>


<!--
<ion-content class="ion-padding" text-center>
  <p margin text-left>
    Please input the 12 mnemonic words you've previously saved in order to restore your identity.
  </p>
  <div class="mnemonics-box">
    <span class="word" *ngFor="let word of mnemonicWords">{{word}}</span>
  </div>
  

  <ion-item>
    <ion-label stacked>{{ 'unlock-paypassword-title' | translate }}</ion-label>
    <ion-note slot="end">{{ 'text-pwd-validator' | translate }}</ion-note>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="{{ 'import-password1-placeholder' | translate }}"
        [(ngModel)]="mnemonicObj.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" placeholder="{{ 'import-password2-placeholder' | translate }}"
        [(ngModel)]="mnemonicObj.rePassword"></ion-input>
  </ion-item>
</ion-content>

<ion-footer class="ion-text-center ion-padding">
  <ion-button no-margin expand="full" (click)="doImport()">Import</ion-button>
</ion-footer>
-->