.container {
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mnemonic-row {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;

    ion-col {
      height: 35px;
      background: #f0f1ff;
      border-radius: 7.5px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      .mnemonic-index {
        position: absolute;
        z-index: 100;
        top: -11px;
        left: -11px;
        width: 22px;
        height: 22px;
        background: #f0f1ff;
        border-radius: 100%;
        border: 2px solid #fdfeff;
        color: #161740;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
      }
    }

    .selectedCol {
      background: #565bdb;

      .mnemonic-index {
        background: #565bdb;
        color: #fdfeff;
      }

      ion-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.29px;
        color: #fdfeff;
      }
    }
  }

  p {
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #161740;
  }

  .input-row {
    width: 100%;
    padding: 15px;

    ion-input {
      background: #f4f4f4;
      height: 41px;
      border-radius: 8px;
      font-size: 13px;
    }
  }

  .btn-row {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;
      --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}

.darkContainer {
  .mnemonic-row {
    ion-col {
      background: #464660;

      .mnemonic-index {
        background: #464660;
        border: 2px solid #191a2f;
        color: #fdfeff;
      }
    }

    .selectedCol {
      background: #565bdb;

      .mnemonic-index {
        background: #565bdb;
        color: #fdfeff;
      }

      ion-label {
        color: #fdfeff;
      }
    }
  }

  .input-row {
    ion-input {
      background: #464660;
      color: #ababb7;
    }
  }

  p {
    color: #fdfeff;
  }
}

/* .root-container {
}

ion-content {
}

.title {
    font-weight: 700;
    font-size:20px;
    text-align: center;
    margin: 40px;
    color: var(--ion-color-primary) !important;
}

.mnemonics-box {
    background: white;
    margin: 20px;
    border-radius: 20px;
}

.main-button {
    display: inline-block;
    width:80vw;
    margin:0 auto;
    margin-top:20px;

    .did-button {
        margin: 0 auto;
    }
}

ion-input {
    border: solid 3px var(--ion-color-primary) !important;
    border-radius:20px;
    padding: 3px 15px !important;
    text-align:left;
    width:80vw;
    margin:0 auto;
}
 */
