page-importdid {

}

.mainicon {
    height: 20vh;
}

.mnemonics-box {
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #CCC;
    text-align: left;
}

.mnemonics-box .word {
    margin-right: 20px;
    background: #EEE;
    border-radius: 8px;
    padding:4px;
    color:#444;
    line-height: 40px;
    white-space: nowrap;
}