<div class="active-did ion-activatable" *ngIf="profile">
    <ion-grid>
        <ion-row>
        <ion-col size="3" align-self-center>
            <img src="assets/images/defaultuser.png" class="icon">
        </ion-col>
        <ion-col size="8" align-self-center>
            <ion-grid>
            <ion-row>
                <ion-col class="name">
                {{profile.name}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="subtitle">
                DID Settings and Management
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size="1" align-self-center>
            <ion-img [src]="'assets/images/right_arrow.svg'" class="right-arrow"></ion-img>
        </ion-col>
        </ion-row>
    </ion-grid>
    <ion-ripple-effect></ion-ripple-effect>
</div>