ion-tab-button {
    ion-icon {
        height:30px;
        fill: #78879f;
        transition: all 0.3s ease;
    }
    ion-label {
        display:block;
        font-size: 11px;
        margin-bottom:0;
        margin-top:2px;
        line-height:1;
    }
}

ion-tab-button.tab-selected ion-icon {
    fill:var(--ion-color-primary) !important; // Change icons colors on selection
}