<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myprofile">
      <ion-label>Profile</ion-label>
      <ion-icon name="appstore"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="didlist">
      <ion-label>Portfolio</ion-label>
      <ion-icon name="albums" ios="ios-albums"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="credentiallist">
        <ion-label>Credentials</ion-label>
        <ion-icon name="albums" ios="ios-albums"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="didsettings">
          <ion-label>Settings</ion-label>
          <ion-icon name="albums" ios="ios-albums"></ion-icon>
        </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 