<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myprofile">
      <ion-icon [src]="'/assets/images/Profile_Inactive_Icon.svg'"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="didlist">
      <ion-icon [src]="'/assets/images/List_Inactive_Icon.svg'"></ion-icon>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="credentiallist">
      <ion-icon [src]="'/assets/images/Credentials_Inactive_Icon.svg'"></ion-icon>
      <ion-label>Credentials</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="didsettings">
      <ion-icon [src]="'/assets/images/Setting_Inactive_Icon.svg'"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 