<ion-content>
  <ion-grid class="container" [class.darkContainer]="theme.darkMode">

    <ion-row class="add-row"  (click)="addProfileEntry()">
      <ion-col size="2" class="icon-container">
        <ion-img src="/assets/default/plus.svg"></ion-img>
      </ion-col>
      <ion-col size="4.5" class="label-container">
        <ion-label class="add-label">Add new data</ion-label>
      </ion-col>
    </ion-row>

    <div *ngFor="let entry of profile.entries">

      <ion-row *ngIf="entry.info.isText()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container">
          <ion-input [placeholder]="'enter-here'|translate" [(ngModel)]="entry.value" (keyup)="maybeMoveFocus(emailInput, $event)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="entry.info.isEmail()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container">
          <ion-input [placeholder]="'enter-here'|translate" [(ngModel)]="entry.value" type="email" pattern="email" (keyup)="maybeMoveFocus(telInput, $event)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="entry.info.isPhoneNumber()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container">
          <ion-input [placeholder]="'enter-here'|translate" [(ngModel)]="entry.value" type="tel" (keyup)="maybeClearFocus(telInput, $event)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="entry.info.isCountry()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container" (click)="selectCountry(entry)">
          <ion-label>{{ getDisplayableNation(entry.value) || ('enter-here'|translate) }}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="entry.info.isGender()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container">
          <ion-select [(ngModel)]="entry.value" [placeholder]="'select-one'|translate" interface="popover">
            <ion-select-option value="female">{{ 'female'|translate }}</ion-select-option>
            <ion-select-option value="male">{{ 'male'|translate }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="entry.info.isDate()">
        <ion-col size="2" class="icon-container" (click)="deleteProfileEntry(entry, $event)">
          <ion-img src="/assets/default/minus.svg"></ion-img>
        </ion-col>
        <ion-col size="4.5" class="label-container">
          <ion-label>{{ 'credential-info-type-'+entry.info.key | translate }}</ion-label>
        </ion-col>
        <ion-col size="4.5" class="edit-container">
          <ion-datetime picker-format="YYYY/M/D" [(ngModel)]="entry.value" [placeholder]="'select-date'|translate"></ion-datetime>
        </ion-col>
      </ion-row>

    </div>

    <ion-row class="btn-container">
      <ion-button color="success" (click)="next()">
        <ion-label>Save Changes</ion-label>
      </ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
