.root-container {
    background: rgb(145,142,255);
    background: linear-gradient(180deg, rgba(145,142,255,1) 0%, rgba(104,100,252,1) 100%);
}

ion-content {
    --color:white;
}

.secondary-button {
    display:inline-block;
    width:70vw !important;
    margin-bottom: 20px;
}

.profile-container {
    position: relative;

    ion-list {
        --background: none;
        background:none;
    }

    .profile-picture {
        position: absolute;
        //background: white;
        top:0;
        left:0;
        right:0;
        z-index: 10;
        height:30vw;
        width:30vw;
        margin: 0 auto;
        margin-top: -14vw;
        border-radius: 50%;
        //box-shadow: 3px 3px 8px rgba(100,100,100,0.2);
        align-content: center;
        display:flex;
        //overflow:hidden;

        img {
            width:100%;
            //height:120%; // Overlap effect
            align-self:center;
        }

        .no-picture {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            color: #CACCD0;
            font-weight: 600;
            font-size:12px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index:-1;
        }
    }

    .profile-items {
        margin-top:15vw;
        background:white;
        margin-bottom:20px;
        padding-top:15vw;
        padding-bottom:15px;

        ion-list {
            --background: none !important;
            padding:10px;

            ion-item {
                --highlight-color-valid: var(--ion-color-primary);
                --highlight-background: var(--ion-color-primary);

                .item {
                    width:inherit;
                    display:inherit;
                }

                ion-label {
                    font-weight:600;
                    font-size:16px;
                    --color:#6E7379;
                }

                ion-input, .input-label, ion-datetime {
                    --placeholder-font-weight:600;
                    --placeholder-opacity:1;
                    --font-weight:600 !important;
                    font-weight:600 !important;
                    font-size:14px;
                    --color:#CACCD0;
                    color:#CACCD0;
                }

                ion-select {
                    --detail-icon-opacity:1;
                    opacity:1 !important;
                    --font-weight:600;
                    font-weight:600;
                    font-size:14px;
                    --color:#CACCD0;
                    color:#CACCD0;
                }
            }
        }

        .bottom-actions {
            --action-color:#4A9DF9;
            padding:10px;

            rounded-action-button {
                width:110px;
                flex:none;
                margin: 0 auto;
            }
        }
    }
}
