.container {
  background: #fdfeff;
  min-height: 100%;

  ion-row {
    padding: 2.5px 0;

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-img {
        height: 21px;
        width: 21px;
      }
    }

    .label-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      ion-label {
        font-size: 14px;
        font-weight: 600;
        color: #161740;
      }

      .add-label {
        font-weight: 500;
      }
    }

    .edit-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 0;

      ion-input, ion-label, ion-select, ion-datetime {
        font-size: 12px;
        text-align: right;
        color: #161740;
      }
    }
  }

  .add-row {
    padding: 10px 0;
  }

  .btn-container {
    padding: 20px 30px;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }
  }
}
