<div class="container">
  <p class="password-intro">
    {{'disablebiometricprompt-intro'|translate}}
  </p>

  <did-button class="main-button" (click)="useBiometricAuth()" 
    [title]="'keep-using-biometric-auth' | translate" 
    [textcolor]="'#FFFFFF'"
    [bgcolor]="'var(--ion-color-primary)'" 
    [bordercolor]="'var(--ion-color-primary)'"
    [shadow]="true"></did-button>

  <did-button class="main-button" (click)="usePasswordAuth()" 
    [title]="'type-my-password' | translate" 
    [textcolor]="'#FFFFFF'"
    [bgcolor]="'var(--ion-color-primary)'" 
    [bordercolor]="'var(--ion-color-primary)'"
    [shadow]="true"></did-button>
</div>