<div class="container">
  <p class="title">
    Security check!
  </p>

  <div class="password-failed-info" *ngIf="previousPasswordWasWrong && password == ''">Wrong password, please try again.</div>
 
  <div [ngClass]="{'input-container':true, 'failed':(previousPasswordWasWrong && password == '')}">
    <ion-input placeholder="{{ 'text-password-input' | translate }}" #pwd 
              [(ngModel)]="password" 
              type="password" ></ion-input>
  </div>

  <did-button class="main-button" (click)="submit()" 
    [title]="'submit' | translate" 
    [textcolor]="'#FFFFFF'"
    textsize="16px"
    [bgcolor]="'var(--ion-color-primary)'" 
    [bordercolor]="'var(--ion-color-primary)'"
    [shadow]="true"></did-button>
</div>