<div class="container" [class.darkContainer]="theme.darkMode">

  <ion-row class="header-row">
    <img src="/assets/default/securityWarning.svg">
    <h1 class="ion-padding-horizontal ion-text-center">{{ 'security-check' | translate }}</h1>
  </ion-row>

  <ion-row class="input-row">
    <ion-input #pwd autosize type="password" placeholder="  Enter Password" [(ngModel)]="password"></ion-input>
    <div class="password-failed-info" *ngIf="previousPasswordWasWrong && password == ''">{{ 'wrong-password' | translate }}</div>
  </ion-row>

  <ion-row class="btn-row">
    <ion-button color="success" (click)="submit()">
      <ion-label>Confirm</ion-label>
    </ion-button>
  </ion-row>

</div>


<!-- <div class="container">
  <p class="title" *ngIf="!useFingerprintAuthentication">
    {{'security-check'|translate}}
  </p>
  <p class="title" *ngIf="useFingerprintAuthentication && !fingerprintPluginAuthenticationOnGoing">
    {{'security-check-fingerprint'|translate}}
  </p>
  <p class="title" *ngIf="fingerprintPluginAuthenticationOnGoing">
    {{'security-check-fingerprint-do'|translate}}
  </p>

  <div *ngIf="!useFingerprintAuthentication">
    <div class="password-failed-info" *ngIf="previousPasswordWasWrong && password == ''">{{'wrong-password'|translate}}</div>

    <ion-item lines="none" class="input-container-outer">
      <div [ngClass]="{'input-container':true, 'failed':(previousPasswordWasWrong && password == '')}">
        <ion-input placeholder="{{ 'text-password-input' | translate }}" #pwd
                  [(ngModel)]="password"
                  type="password" ></ion-input>
      </div>
      <ion-img slot="end" *ngIf="canPromptFingerprint()" src="assets/images/fingerprint-24px.svg" class="fingerprint-preview" (click)="promptFingerprintActivation()"></ion-img>
    </ion-item>

    <did-button class="main-button" (click)="submit()"
      [title]="'submit' | translate"
      [textcolor]="'#FFFFFF'"
      textsize="16px"
      [bgcolor]="'var(--ion-color-primary)'"
      [bordercolor]="'var(--ion-color-primary)'"
      [shadow]="true"></did-button>
  </div>

  <div *ngIf="useFingerprintAuthentication && !fingerprintPluginAuthenticationOnGoing">
    <ion-img src="assets/images/fingerprint-24px.svg" class="fingerprint-large text-align-center" (click)="promptFingerprintAuthentication()"></ion-img>

    <ion-item>
      <ion-label>{{'use-fingerprint-authentication' | translate}}</ion-label>
      <ion-toggle (ionChange)="disableFingerprintAuthentication()" checked="true"></ion-toggle>
    </ion-item>
  </div>

  <div *ngIf="fingerprintPluginAuthenticationOnGoing">
    <ion-img src="assets/images/fingerprint-24px.svg" class="fingerprint-ongoing text-align-center"></ion-img>
  </div>
</div> -->

