.root-container {
    background: #FAFAFA;
}

active-did {
    display:block;
    margin-top: 20px;
}

.main-button {
    width: 70vw;
    margin: 10px auto;
    display:inline-block;
}

.did-item {
    margin:20px;
    color:#6E7379;
    font-weight: 600;
}