<ion-content>
  <div *ngIf="preliminaryChecksCompleted">
    <div class="access-from-warning">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-align-self-center">
              <ion-img [src]="'assets/images/Data_Access_From_Icon.svg'" class="mainicon"></ion-img>
          </ion-col>
          <ion-col size="9" class="ion-align-self-center">
            <div class="heading-1">{{ 'credential-issue' | translate }}</div>
            <div class="appname" *ngIf="requestDapp">{{requestDapp.appPackageId}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="intro" [innerHtml]="'credissue-intro' | translate"></div>
    <div class="mandatory-items items-list" *ngIf="displayableCredential">
      <ion-list>
        <div class="item-info">
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="label ion-align-self-center">
                Identifier
              </ion-col>
              <ion-col size="6" class="value ion-align-self-center">
                <span>{{displayableCredential.identifier}}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6" class="label ion-align-self-center">
                Receiver
              </ion-col>
              <ion-col size="6" class="value ion-align-self-center">
                <span>{{ displayableCredential.receiver }}</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6" class="label ion-align-self-center">
                Expires
              </ion-col>
              <ion-col size="6" class="value ion-align-self-center">
                <span>{{ displayableCredential.expirationDate }}</span>
              </ion-col>
            </ion-row>

            <br/>
            <ion-row *ngFor="let entry of displayableCredential.values">
              <ion-col size="6" class="label ion-align-self-center">
                {{didService.getUserFriendlyBasicProfileKeyName(entry.name)}}
              </ion-col>
              <ion-col size="6" class="value ion-align-self-center">
                <span>{{ getDisplayableEntryValue(entry.value) }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>
    </div>

    <did-button class="main-button" (click)="acceptRequest()"
      [title]="'import' | translate"
      [bgcolor]="'var(--ion-color-primary)'"
      [bordercolor]="'var(--ion-color-primary)'"
      [shadow]="true"></did-button>
  </div>
</ion-content>
