
<ion-content>
  <div class="ion-text-center">
    <ion-slides
      #slide
      pager="true"
      [options]="slideOpts"
      [class.hidden]="hidden"
    >
      <ion-slide>
        <ion-img src="assets/onboard/welcome.svg"></ion-img>
        <h1>Welcome to elastOS</h1>
        <p>
          We need to set you up with a unique identity. We call this a DID <br> (Decentralized Identifier) <br>
          With this, you can manage all your personal data and start exploring the new Smart Web.
        </p>
        <ion-row class="btn-row">
          <ion-button color="success" (click)="nextSlide(slide)">
            <img src="assets/buttons/fingerprint.svg"/>
            <ion-label>Create Identity</ion-label>
          </ion-button>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-img src="assets/onboard/newimport.svg"></ion-img>
        <h1>New or Import?</h1>
        <p>
          Create a brand new identity starting fresh or you can import an existing identity you already own
        </p>
        <ion-row class="btn-row">
          <ion-button color="success" class="ion-margin-bottom" (click)="createIdentity()">
            <ion-label>New</ion-label>
          </ion-button>
          <ion-button color="secondary" class="import-btn ion-margin-top" (click)="promptImportLocation()">
            <ion-label>Import</ion-label>
          </ion-button>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>



<!-- <div class="root-container">
  <ion-content>
    <div class="ion-padding ion-text-center">
      <ion-slides
        #slide
        pager="true"
        [options]="slideOpts"
        [class.hidden]="hidden"
      >
        <ion-slide class="ion-padding">
          <div class="left-arrow invisible" (click)="prevSlide(slide)">
            <ion-icon name="arrow-round-backward"></ion-icon>
          </div>
          <ion-grid>
            <ion-img [src]="'assets/images/Shield_Icon_Empty_1.svg'" class="mainicon"></ion-img>
            <p *ngIf="isfirst" class="welcome">
              {{'welcome'|translate}}
            </p>
            <p class="main-text larger">
              {{'elastos-did-portfolio'|translate}}
            </p>
            <p class="main-text">
              {{'welcome-text-intro-1'|translate}}
            </p>
            <p class="main-text">
              {{'welcome-text-intro-2'|translate}}
            </p>
          </ion-grid>
          <div class="right-arrow" (click)="nextSlide(slide)">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </div>
        </ion-slide>

        <ion-slide class="ion-padding">
          <div class="left-arrow" (click)="prevSlide(slide)">
            <ion-icon name="arrow-round-back"></ion-icon>
          </div>
          <ion-grid>
            <img-loader useImg><img [src]="'assets/images/Lock_Icon.svg'" class="mainicon"></img-loader>
            <p *ngIf="isfirst" class="welcome">
              {{'welcome-text-intro-3'|translate}}
            </p>
            <p class="main-text larger">
              {{'welcome-text-intro-4'|translate}}
            </p>
            <ion-row>
              <did-button class="main-button" (click)="createIdentity()"
                [title]="'create-new-did-profile' | translate"
                [bgcolor]="styling.primaryButtonColor"
                [bordercolor]="styling.primaryButtonColor"
                [shadow]="true"></did-button>
            </ion-row>
            <ion-row>
              <did-button class="secondary-button" (click)="promptImportLocation()"
                [title]="'import-did-profile' | translate"
                [bgcolor]="'rgba(0,0,0,0)'"
                [bordercolor]="'#FFFFFF'"
                [shadow]="false"></did-button>
            </ion-row>
          </ion-grid>
          <div class="right-arrow invisible" (click)="nextSlide(slide)">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-content>
</div>
 -->
