.root-container {
    background: url('../../../assets/images/Welcome_Screen_BG.svg') no-repeat center top / cover;
}

ion-content {
    --color:white;
}

.mainicon {
    width:20vh;
    margin: 0 auto;
}

.welcome {
    font-size: 35px;
    font-weight: 700;
}

.main-text {
    font-size: 16px;
    font-weight: 500;
    padding-bottom:20px;
}

.main-text.larger {
    font-size: 20px;
}

.invisible {
    visibility: hidden;
}

ion-slides {
    --bullet-background-active:white;
}

ion-slide {
    height:80vh;
    width: 100% !important;
}

.swiper-wrapper{
    width: min-content!important;
}

ion-slide {
    .left-arrow {
        float:left;

        ion-icon {
            width:35px;
            height:35px;
        }
    }
    .right-arrow {
        float:right;
        width:25px;

        ion-icon {
            width:35px;
            height:35px;
        }
    }
}

.main-button {
    width:70vw;
    margin-bottom:20px;
}

.secondary-button {
    width:70vw;
}
