ion-slide {
  display: flex;
  flex-direction: column;
  padding: 75px 25px;

  ion-img {
    width: 200px;
    height: 225px;
    padding-bottom: 32px;
  }

  h1, p, .btn-row {
    margin: 0;
    padding: 16px 8px;
  }

  h1 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.3px;
    color: #161740;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: #161740;
    padding-bottom: 64px;
  }

  .btn-row {
    width: 100%;

    ion-button {
      height: 41px;
      width: 100%;
      --border-radius: 8px;
      --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

      img {
        height: 16px;
        width: 16px;
        margin-right: 16px;
      }

      ion-label {
        text-transform: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.43px;
      }
    }

    .import-btn {
      // --border-color: #161740;
     // --border-width: 2px;
      border-radius: 8px;
      border: 1.5px solid #161740;
    }
  }
}

/* .hidden {
    display:none
}

.root-container {
    background: url('../../../assets/images/Welcome_Screen_BG.svg') no-repeat center top / cover;
}

ion-content {
    --color:white;
}

.mainicon {
    width:20vh;
    margin: 0 auto;
}

.welcome {
    font-size: 35px;
    font-weight: 700;
}

.main-text {
    font-size: 16px;
    font-weight: 500;
    padding-bottom:20px;
}

.main-text.larger {
    font-size: 20px;
}

.invisible {
    visibility: hidden;
}

ion-slides {
    --bullet-background-active:white;
}

ion-slide {
    height:80vh;
    width: 100% !important;
}

.swiper-wrapper{
    width: min-content!important;
}

ion-slide {
    .left-arrow {
        float:left;

        ion-icon {
            width:35px;
            height:35px;
        }
    }
    .right-arrow {
        float:right;
        width:25px;

        ion-icon {
            width:35px;
            height:35px;
        }
    }
}

.main-button {
    width:70vw;
    margin-bottom:20px;
}

.secondary-button {
    width:70vw;
}
 */
