ion-content {
    --background: #7DB2FC;
    --color:white;
}

.mainicon {
    width:20vh;
    margin: 0 auto;
}

.welcome {
    font-size: 35px;
    font-weight: 700;
}

.main-text {
    font-size: 16px;
    font-weight: 500;
    padding-bottom:20px;
}

.main-text.larger {
    font-size: 22px;
}

.invisible {
    visibility: hidden;
}

ion-slides {
    --bullet-background-active:white;
}

ion-slide {
    height:80vh;
}

ion-slide {
    .left-arrow {
        float:left;
    }
    .right-arrow {
        float:right;
    }
}

.main-button {
    width:70vw;
    margin-bottom:20px;
}

.secondary-button {
    width:70vw;
}

ion-bottom-drawer {
    border-radius: 30px;

    .container {
        margin: 10px 30px;

        .input-container {
            background: #F1F3F7;
            border-radius: 20px;
            padding:2px;
            margin-bottom:10px;
        }

        ion-input {
            font-size:12px;
            display:block;
        }

        .password-intro {
            font-weight: 700;
            text-align: center;
            margin: 5px 40px;
            color: var(--ion-color-primary) !important;
            margin-bottom:20px;
        }

        .main-button {
            width:100%;
            display:block;
            margin-top:40px;
        }
    }
}