<ion-content no-bounce (click)="hidePasswordSheet($event)">
    <header-bar title="" [transparent]="true"></header-bar>
  
  <div class="ion-padding ion-text-center">
    <ion-slides
      #slide
      pager="true">
      <ion-slide class="ion-padding">
        <div class="left-arrow invisible" (click)="prevSlide($event, slide)">
          <ion-icon name="arrow-round-backward"></ion-icon>
        </div>
        <ion-grid>
          <ion-img [src]="'assets/images/noidentity.png'" class="mainicon"></ion-img>
          <p *ngIf="isfirst" class="welcome">
            Welcome
          </p>
          <p class="main-text larger">
            elastOS DID Portfolio
          </p>
          <p class="main-text">
            Manage your decentralized identities and share with friends and business that only you allow.
          </p>
          <p class="main-text">
            Own your identity on elastOS!
          </p>
        </ion-grid>
        <div class="right-arrow" (click)="nextSlide($event, slide)">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <div class="left-arrow" (click)="prevSlide($event, slide)">
          <ion-icon name="arrow-round-back"></ion-icon>
        </div>
        <ion-grid>
          <ion-img [src]="'assets/images/noidentity.png'" class="mainicon"></ion-img>
          <p *ngIf="isfirst" class="welcome">
            First time?
          </p>
          <p class="main-text larger">
            Let's create a DID Portfolio
          </p>
          <ion-row>
            <did-button class="main-button" (click)="createIdentity($event)" 
              [title]="'Create New DID' | translate" 
              [bgcolor]="styling.primaryButtonColor" 
              [bordercolor]="styling.primaryButtonColor"
              [shadow]="true"></did-button>
          </ion-row>
          <ion-row>
              <did-button class="secondary-button" (click)="importIdentity($event)" 
              [title]="'Import DID' | translate" 
              [bgcolor]="'rgba(0,0,0,0)'" 
              [bordercolor]="'#FFFFFF'"
              [shadow]="false"></did-button>
          </ion-row>
        </ion-grid>
        <div class="right-arrow invisible" (click)="nextSlide($event, slide)">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-bottom-drawer [(state)]="passwordSheetState" [minimumHeight]="passwordSheetMinHeight" [dockedHeight]="passwordSheetDockedHeight"
  [shouldBounce]="true" [disableDrag]="true" class="ion-padding no-background-color">

  <div class="container">
    <p class="password-intro">
      Let's get started with setting a password.
    </p>

    <div class="input-container">
      <ion-input placeholder="Set password" [(ngModel)]="password" type="password"></ion-input>
    </div>

    <div class="input-container">
      <ion-input placeholder="Re-enter password" [(ngModel)]="passwordConfirmation" type="password"></ion-input>
    </div>

    <ion-item lines="none" *ngIf="!passwordsMatch()">
        <ion-icon name="alert" margin-end></ion-icon> <b>Passwords don't match.</b>
    </ion-item>
 
    <did-button class="main-button" (click)="confirmPassword()" 
      [title]="'Submit' | translate" 
      [textcolor]="'#FFFFFF'"
      [bgcolor]="styling.primaryButtonColor" 
      [bordercolor]="styling.primaryButtonColor"
      [shadow]="true"></did-button>
  </div>
</ion-bottom-drawer>