<ion-content>
  <div *ngIf="preliminaryChecksCompleted">
    <div class="access-from-warning">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-align-self-center">
            <ion-img [src]="'assets/images/Data_Access_From_Icon.svg'" class="mainicon"></ion-img>
          </ion-col>
          <ion-col size="9" class="ion-align-self-center">
            <div class="heading-1">{{'credential-import-from'|translate}}</div>
            <div class="appname" *ngIf="requestDapp">{{getDisplayableIssuer()}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="intro" [innerHtml]="'credimport-intro' | translate"></div>
    <div *ngIf="displayableCredentials.length > 0">
      <div class="mandatory-items items-list">
        <ion-list>
          <ion-item *ngFor="let credential of displayableCredentials">
            <div class="item-info">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="heading-2">{{credential.name}}</div>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let entry of credential.values">
                  <ion-col size="6" class="label ion-align-self-center">
                    {{didService.getUserFriendlyBasicProfileKeyName(entry.name)}}
                  </ion-col>
                  <ion-col size="6" class="value ion-align-self-center">
                    <span>{{ getDisplayableEntryValue(entry.value) }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <did-button class="main-button" (click)="acceptRequest()" [title]="'import' | translate"
      [bgcolor]="'var(--ion-color-primary)'" [bordercolor]="'var(--ion-color-primary)'" [shadow]="true"></did-button>
  </div>
</ion-content>